div.info {
    height: fit-content;
}
div.name{
    margin-top: 0;
    text-align: center;
}

div.phone, div.adress, div.email{
    display: inline;
    margin-left: 10px;
}

div.regularInfo {
    text-align: center;
}

:host {
    display: block;
    background-color:lightblue;
    color:purple;
}

div.about{
    text-align: justify;
    margin: 10px;
}